{% extends 'origin/base.html'%} 
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %} 
    <div class="row" style="margin-bottom: 50px; margin-top: 50px">
        <div class="col-md-6 offset-md-3 card shadow-lg p-4" style="max-width: 500px; margin: 0 auto">
            <h3 class="text-center mb-5">Вход</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}   
                <input
                    type="submit"
                    class="btn btn-success"
                    value="Войти"
                    style="margin-right: 15px"
                />
            </form>
        </div>
    </div>
{% endblock %}
